@font-face {
    font-family: header-font;
    src: url(./fonts/FingerPaint-Regular.ttf);
}

@font-face {
    font-family: task-project-font;
    src: url(./fonts/DoubleFeature20.ttf);
}

body {
    background-image: url(./images-or-svgs/background-wall.jpg);
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: header-font;
}

.header-div {
    width: 70vw;
    background-image: url(./images-or-svgs/vecteezy_blue-watercolor-stain-watercolor-background_21971395.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 22rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
        font-size: max(5vw, 2.8rem);
        color: rgb(255, 255, 255);
    }

    .author {
        color: rgb(247, 148, 148);
    }

    a {
        color: rgb(211, 158, 255);
    }

    ul {
        list-style: none;
    }
}

.tabs {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6%;
    margin-left: -1rem;
}

.tab {
    border: 0px;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    filter: blur(1px);
    transition: filter 0.8s ease-out;
    &:hover {
        filter: blur(0px);
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

.tab[data-on-this-tab="true"] {
    background-image: url(./images-or-svgs/[CITYPNG.COM]GreenBrushStrokeGrungeEffectPNG2000x2000.png);
    background-position: center;
    background-size: 110% 400%;
    background-repeat: no-repeat;
    filter: blur(0px);
}


.high-priority {
    color: rgb(252, 55, 55);
}

.low-priority {
    color: rgb(70, 145, 40);
}

div > div:has(.add) {
    display: flex;
    justify-content: center;
}

.add {
    width: 6rem;
    height: 2.6rem;
    background-color: transparent;
    border: 0px;
    background-image: url(./images-or-svgs/[CITYPNG.COM]DarkGreenBrushStrokeGrungeEffectPNG2000x2000.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 400%;
    color: white;
    font-family: task-project-font;
    font-size: large;
    padding: 10px;
    transition: filter 0.6s ease-out;
    &:hover {
        filter: drop-shadow(0.7rem 0px 0px darkgreen);
    }
}

.tasks-section, .projects-section {
    display: grid;
    margin: max(0.2rem, 2vw);
    grid-template-columns: repeat(auto-fit, minmax(30vw, 27rem));
    gap: 2%;
}

.task, .project {
    border-radius: 3rem;
    padding: 2rem;
    padding-left: min(10vw, 20%);
    font-size: 1.5rem;
    font-family: task-project-font;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(images-or-svgs/crack-texture-png-free.png);
    background-position: center;
    background-size: 100% 100%;
}

.description-section {
    font-size: 1.2rem;
}

.dueDate-section {
    color: rgb(0, 89, 255);
}

.delete {
    background-image: url(./images-or-svgs/red-paint-brush-stroke-7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px;
    background-color: transparent;
    transition: filter 0.5s ease-out;
    
    &:hover {
        filter: drop-shadow(0px 8px 0px rgb(223, 32, 25));
    }
}

.edit {
    background-image: url(./images-or-svgs/watercolor-brush-stroke-banner-orange-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0px;
    background-color: transparent;
    margin-right: 10px;
    transition: filter 0.5s ease-out;

    &:hover {
        filter: drop-shadow(0px 8px 0px rgb(255, 73, 23));
    }
}

.open {
    background-image: url(./images-or-svgs/blue-paint-brush-stroke-9.png);
    background-color: transparent;
    background-size: 120% 105%;
    background-repeat: no-repeat;
    border: 0px;
    color: white;
    letter-spacing: 2px;
    transition: filter 0.5s ease-out;
    &:hover {
        filter: drop-shadow(0px 8px 0px rgb(19, 52, 161));
    }
}

.project-name {
    text-align: center;
    background-image: url(./images-or-svgs/blue-paint-brush-stroke-9.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center;
    font-family: header-font;
    color: white;
    padding: 5px;
}

.back-to-projects {
    position: fixed;
    bottom: 7rem;
    margin-left: 43vw;
    font-family: task-project-font;
    background-image: url(./images-or-svgs/green-watercolor-splatter-11.png);
    background-position: -3.5rem -1rem;
    background-size: 190% 160%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    height: 5.5rem;
    width: 6rem;
    transition: all 0.5s;
    &:hover {
        scale: 1.2;
        filter: drop-shadow(8px 8px 5px black);
    }
}

.add-dialog, .edit-dialog {
    font-family: header-font;
    align-self: center;
    justify-self: center;
    background-image: url(./images-or-svgs/add-dialog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    width: 70%;
    height: 70%;
    min-width: 50rem;
    color: white;
    text-align: center;
    padding-top: 12rem;
    transition: scale 0.5s ease-in, display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    scale: 4;
    &[open] {
        scale: 1;

        @starting-style {
            scale: 4
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input {
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: white;
    }

    .buttons-section {
        button {
            background-color: transparent;
            color: lightblue;
            border: none;
            transition: all 0.5s;
            &:hover {
                transform: translateY(5px);
            }
        }

        .submit {
            &:hover {
                color: rgb(69, 255, 69);
            }
        }
    }
}

.edit-dialog {
    background-image: url(./images-or-svgs/edit-dialog.png);
    padding-top: 15rem;
    .buttons-section {
        button {
            background-color: transparent;
            color: rgb(55, 135, 255);
            border: none;
        }
    }
}

.delete-dialog {
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    background-image: url(./images-or-svgs/delete-dialog.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 17rem;
    min-width: 45rem;
    font-size: 1.3rem;
    font-family: header-font;
    color: white;
    transition: scale 0.5s ease-in, display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    scale: 5;

    &[open] {
        scale: 1;
        @starting-style {
            scale: 5;
        }
    }

    .no, .yes {
        background-color: transparent;
        border: none;
        text-shadow: 2px 2px 2px black;
        transition: transform 0.6s;
        &:hover {
            transform: translateY(5px);
        }
    }

    .yes {
        &:hover {
            color: rgb(172, 0, 0);
        }
    }

    .no {
        &:hover {
            color: rgb(0, 132, 255);
        }
    }

    div:has(.no) {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

}